@charset "UTF-8";


html,
body {
  font-size: 18px;
  scroll-behavior: smooth;
}

body {
  min-width: 320px;
}

.hide{

  display: none;
}

img {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  max-width: 100%;
  height: auto;
}

section {
  padding: 50px 0;
}

a {
  color: #111;
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  color: #adadad;
}

.marked-text{
  background-color: #fbf276;
}


.main-header{
  z-index: 100;
  top: 0;
  left: 0;
  transition: transform 0.3s linear;
}
.main-header.hideHeader{

    transform: translateY(-100%);
}

.logo {
  border-radius: 10px;
  color: #fff;
  box-sizing: border-box;
  background-color: #333;
  padding: 5px;
  &:hover{
    color: #fff;

  }
}

.top-menu li a::after {
  content: "";
  display: block;
  width: 100%;
  background-color: #111;
  height: 2px;
  transition: all 0.3s;
  transform: scale(0);
}

.top-menu li a:hover::after {
  transform: scale(1);
}

.nav-item {
  font-weight: 700;
}

.navbar {
  text-transform: uppercase;
}

td img {
  width: 100px;
}

.navbar-brand {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  cursor: default;
}

.modal-title {
  text-transform: uppercase;
}

.news-image {
  border-radius: 0 0 8px 8px;
  height: 70vh;
  width: 100vw;
  display: block;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}

.carousel-caption {
  color: #fff;
  letter-spacing: 2px;
}

.carousel-caption h3 {
  letter-spacing: 3px;
}

.modal-footer-text {
  text-transform: lowercase;
  position: relative;
}

.modal-footer-text::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  height: 2px;
  width: 100%;
  scale: 0;
  background-color: #111;
  transition: 0.3s;
}

.modal-footer-text:hover::after {
  scale: 1;
}

.modal-footer-link {
  text-transform: uppercase;
  font-weight: 700;
}
.my-carousel{
  margin-top: 60px;
}
.my-carousel .carousel-item {
  overflow: hidden;
  max-height: 70vh;
}

.my-carousel .carousel-item img {
  display: block;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
  width: 100vw;
  height: 70vh;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  width: 5rem;
  height: 5rem;
}

.menu__list {
  padding-left: 0;
}

.menu__list-link {
  font-weight: 700;
  text-align: center;
  display: block;
  font-size: 1rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  padding: 5px;
  color: #333;
  transition: 0.4s;
  border-radius: 5px;
}

.menu__list-link:hover {
  background-color: rgba(173, 173, 173, 0.4274509804);
}

#product-row-phone {
  display: flex;
}

#search-input{
  width: 50%;
  
}

@media(max-width: 800px){
  #search-input{
    width: 100%;
    
  }
}

._active {
  border: 1px solid #333;
}

.product-row {
  display: none;
  flex-wrap: wrap;
}

.product-col {

  margin-bottom: 3vh;
}

.product-card {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.09);
  transition: all 0.4s;
  min-height: 475px;
}

.product-card:hover {
  box-shadow: 0 14px 30px -15px rgba(0, 0, 0, 0.75);
}

.product-thumb .img-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  padding: 20px;
}

.product-img {
  max-height: 100%;
}

.product-details {
  padding: 20px;
}

.product-name {
  display: inline-block;
  max-height: 60px;

  overflow: hidden;
  text-decoration: none;
}

.product-name:hover {
  color: #111;
}

.p-name:hover {
  color: #111;
}

.description {
  font-size: 15px;
  color: #999;
  height: 110px;
  overflow: hidden;
}

.product-bottom-details {
  overflow: hidden;
  border-top: 1px solid #eee;
  padding-top: 20px;
}

.product-price {
  font-size: 18px;
  font-weight: 600;
  color: #5fa36a ;
}

.old-price {
  text-decoration: line-through;
}

.product-links {
  font-size: 18px;
}

.product-link:not(:first-child) {
  margin-left: 10px;
}

.cart {
  transition: 0.3s;
  cursor: pointer;
  box-sizing: border-box;
}

.cart:hover {
  color: #adadad;
}

.follow {
  cursor: pointer;
  box-sizing: border-box;
  transition: 0.3s;
}

.follow:hover {
  color: red;
}

.remove-product {
  cursor: pointer;
}

.final-product-price,
.all-product-price {
   color: #5fa36a;
  min-width: 127px;
  text-align: start;
}

.popup-table-container {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 20;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
  z-index: 1170;
}

.popup-table-container p {
  margin: 0;
}

.link-in-popup {
  cursor: pointer;
  color: rgb(57, 57, 240);
  font-size: 1rem;
  font-weight: 700;
}

.link-in-popup:hover {
  text-decoration: underline;
  color: rgb(57, 57, 240);
}

.modal {
  z-index: 1100;
}

.popup-table {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1rem;
  user-select: none;
  color: #111;
  box-shadow: 0px 6px 39px -2px rgba(0, 0, 0, 0.23);
  padding: 10px;
  font-weight: 600;
  border-radius: 5px;
}

tbody td,
thead tr {
  font-weight: 700;
  text-transform: uppercase;
}

.footer {
  background-color: #343434;
}

.footer h4 {
  color: #ccc;
  text-transform: uppercase;
  border-bottom: 1px solid #666;
  padding-bottom: 3px;
}

.footer a,
.footer li {
  color: #c8c8c8;
}

.footer a:hover {
  color: #fff;
  text-decoration: underline;
}

.footer-icons a {
  display: inline-block;
  margin-right: 10px;
}

.list {
  position: relative;
  display: flex;
  gap: 25px;
}

.visible {
  visibility: visible;
  opacity: 1;
}

.list-li {
  position: relative;
  list-style: none;
  width: 50px;
  height: 50px;
  border-radius: 60px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  transition: 0.5s;
}

.list-li:hover {
  width: 150px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0);
}

.list-li::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 50px;
  background: linear-gradient(45deg, var(--i), var(--j));
  opacity: 0;
  transition: 0.5s;
}

.list-li:hover::before {
  opacity: 1;
}

.list-li::after {
  content: "";
  position: absolute;
  top: 10px;
  width: 100%;
  height: 100%;
  border-radius: 60px;
  background: linear-gradient(45deg, var(--i), var(--j));
  opacity: 0;
  transition: 0.5s;
  z-index: -1;
  filter: blur(15px);
}

.list-li:hover::after {
  opacity: 0.5;
}

.list-link {
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: #777;
  transition: 0.5s;
  transition-delay: 0.25s;
}

.list-li:hover .list-link i {
  transform: scale(0);
  font-size: 1.75em;
  transition: 0.25s;
}

.list-li .title {
  position: absolute;
  color: #fff;
  font-size: 0.7rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  transform: scale(0);
  transition: 0.5s;
  transition-delay: 0;
}

.list-li:hover .title {
  transform: scale(1);
}

@media (min-width: 990px) and (max-width: 1142px) {
  .accordion-header button {
    font-size: 0.9rem;
  }
}

@media (max-width: 767px) {
  .main-header {
    border-bottom: 2px solid #000000;
  }
}

@media (max-width: 1000px) {
  .menu__list-link {
    padding: 10px;
  }

  .modal-footer-text::after {
    scale: 1;
  }

  .news-image {
    border-radius: 0 0 8px 8px;
    height: 600px;
    display: block;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
  }

  .list-li {
    width: 100%;
    height: 60px;
    margin-bottom: 10px;
    box-shadow: none;
  }

  .list-li:hover {
    width: 100%;
  }

  .list-li::before,
  .list-li::after {
    display: none;
  }

  .list-li .title {
    display: none;
  }

  .list-li:hover .list-link i {
    transform: scale(1);
    font-size: 1rem;
  }

  .list-link {
    z-index: 2;
  }
}

